.toolbar-background-md {
    background: #a80000;
}

.header-container {
    font-size: 2.6rem;
    color: #a80000;
    padding: 16px;
    font-weight: 500;
    text-align: center;
}

.container {
    margin: auto;
    border-radius: 4px;
    width: 25%!important;
    font-size: 3rem;
    background: white;
    padding-bottom: 10px;
    margin-top: 140px;
    align-content: center;
}

.toolbar-title-md {
    padding: 0 12px;
    font-size: 3rem;
    font-weight: 500;
    color: white;
}

.boton {
    margin: auto;
    display: block;
    height: 3.6rem;
    font-size: 1.4rem;
    font-weight: 50px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 15px;
}

.botonLink {
    margin: auto;
    display: block;
    border-radius: 2px;
    height: 3.6rem;
    font-size: 1.4rem;
    font-weight: 50px;
    text-transform: uppercase;
    color: #2E86C1;
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 22px;
}

h2 {
    margin-top: 25px !important;
    font-size: 1.6rem;
    text-align: center;
}

.scroll-content {
    justify-content: center;
    flex-direction: column;
}

ion-card {
    border: 2px solid #a80000;
}