page-create-ask {
    .container {
        background-color: #DDDD;
        margin-top: 40px !important;
    }
    .image {
        display: block !important;
        margin: auto !important;
    }
    .imageEmocion {
        width: auto !important;
        height: 128px !important;
        display: block !important;
        margin: auto !important;
        background-color: #fff;
    }
    .button {
        margin-left: auto;
    }
    .icon {
        color: gray;
        margin: auto;
        display: block;
        zoom: 2.0;
    }
    .columns {
        text-align: center !important;
        display: block !important;
    }
    .cardScale {
        width: 40px;
        height: 40px;
        font-size: 50px !important;
    }
    p {
        text-align: center;
        display: block;
        margin-top: 11px !important;
    }
    .toolbar-background-md {}
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: white !important;
    }
    ion-input {
        border-bottom: 2px solid;
        border-bottom-color: grey;
        margin: 10px;
    }
    .botones {
        text-align: center;
    }
}

.card {
    width: 50%!important;
    font-size: 1.4rem;
    margin-top: 10px !important;
    text-align: center;
    margin: auto;
    align-items: center;
}

.text_lb {
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
    font-weight: bold;
}