.bar-button-default-md {
color:white;
background-color: transparent;
.containerEncuestas {
    width: 100%;
    font-size: 1.4rem;
    background: white;
    margin-top: 10px !important;

}
button{
    height: 200px !important;
}
}
