.bar-button-default-md {
    color: white;
    background-color: transparent;
}

ion-content {
    margin-top: 55px;
    text-align: center;
}

.containerEncuestas {
    width: 50%!important;
    font-size: 1.4rem;
    margin-top: 10px !important;
    text-align: center;
    margin: auto;
    align-content: center;
}