page-user {
    .center-things {
        margin-left: 50%;
    }
    ion-input {
        border-bottom: 2px solid;
        border-bottom-color: gray;
        margin-bottom: 15px;
    }
    .icon-size {
        font-size: 100px;
    }
    .text-size {
        font-size: 25px;
    }
}