page-resultpolls {
    .toolbar-background-md {}
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: white;
    }
    .search-bar {
        width: 40%!important;
        text-align: center;
        margin: auto;
    }
}