page-create {
    ion-list {
        margin: 0;
        padding: 0;
    }
    .subtitle {
        font-size: 25px;
        text-align: center !important;
    }
    .item {
        height: 70px;
    }
}

.containerCreate {
    width: 50%!important;
    font-size: 1.4rem;
    margin-top: 10px !important;
    text-align: center;
    margin: auto;
}