<ion-content padding class="gen_bg">
    <ion-card class="containerCreate">
        <p class="subtitle">Elige el tipo de pregunta:</p>
        <ion-list no-line>

            <button ion-item *ngFor="let item of tipoPregunta" (click)="openNavDetailsPage(item)" icon-start>
             <ion-item *ngFor= "let item of preguntas"> </ion-item>
             <ion-icon name="add-circle" [ngStyle]="{'color': item.color}" item-end></ion-icon>
                {{ item.title }}
            </button>

        </ion-list>
    </ion-card>
</ion-content>