page-calculator {
    .bottom {
        border-bottom: 2px solid;
        border-bottom-color: gray;
        margin-bottom: 15px;
    }
    .font-s {
        font-size: 20px;
        text-align: center;
    }
}